export(NBDev, PoisDev, QL.fit, QL.results, count.table, call.peaks, BQ)

import(edgeR, quadprog, GenomicRanges, IRanges, GenomicAlignments, Rsamtools, csaw, SummarizedExperiment)

importFrom("mgcv", "negbin")
importFrom("pracma", "broyden")
importFrom("grDevices", "dev.new")
importFrom("graphics", "layout", "legend", "lines", "par", "plot")
importFrom("stats", "coef", "coefficients", "gaussian", "glm",
            "glm.control", "lm.fit", "model.matrix",
            "optimize", "p.adjust", "pf", "poisson", "predict", "qf",
            "smooth.spline")

S3method(coef, glm)
S3method(unique, matrix)
S3method(duplicated, matrix)

useDynLib(BinQuasi, .registration =TRUE, .fixes="C_")